life flow.json
[{"id":"e31b199.a199ee8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"6adc9c91.631c14","type":"ui_form","z":"e31b199.a199ee8","name":"Life Expectancy Model","label":"Life_Expectancy","group":"da40dc3.6fdee2","order":0,"width":0,"height":0,"options":[{"label":"Adult Mortality","value":"a","type":"number","required":true,"rows":null},{"label":"infant deaths","value":"b","type":"number","required":true,"rows":null},{"label":"Alcohol ","value":"c","type":"number","required":true,"rows":null},{"label":"percentage expenditure","value":"d","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"e","type":"number","required":true,"rows":null},{"label":"Measles","value":"f","type":"number","required":true,"rows":null},{"label":" BMI","value":"g","type":"number","required":true,"rows":null},{"label":"under-five deaths","value":"h","type":"number","required":true,"rows":null},{"label":"Polio","value":"i","type":"number","required":true,"rows":null},{"label":"Total expenditure","value":"j","type":"number","required":true,"rows":null},{"label":"Diphtheria","value":"k","type":"number","required":true,"rows":null},{"label":" HIV/AIDS","value":"l","type":"number","required":true,"rows":null},{"label":"GDP","value":"m","type":"number","required":true,"rows":null},{"label":"Population","value":"n","type":"number","required":true,"rows":null},{"label":" thinness  1-19 years","value":"o","type":"number","required":true,"rows":null},{"label":" thinness 5-9 years","value":" p","type":"number","required":true,"rows":null},{"label":"Income composition of resources","value":"q","type":"number","required":true,"rows":null},{"label":"Schooling","value":"r","type":"number","required":true,"rows":null},{"label":"Developed","value":"s","type":"number","required":true,"rows":null},{"label":"Developing","value":"t","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":""," p":"","q":"","r":"","s":"","t":""},"payload":"","submit":"Submit","cancel":"Reset","topic":"","x":160,"y":60,"wires":[["1fd1a0b5.06f35f"]]},{"id":"1fd1a0b5.06f35f","type":"function","z":"e31b199.a199ee8","name":"pre token","func":"//make user given values as global variables\nglobal.set(\"a\",msg.payload.a)\nglobal.set(\"b\",msg.payload.b)\nglobal.set(\"c\",msg.payload.c)\nglobal.set(\"d\",msg.payload.d)\nglobal.set(\"e\",msg.payload.e)\nglobal.set(\"f\",msg.payload.f)\nglobal.set(\"g\",msg.payload.g)\nglobal.set(\"h\",msg.payload.h)\nglobal.set(\"i\",msg.payload.i)\nglobal.set(\"j\",msg.payload.j)\nglobal.set(\"k\",msg.payload.k)\nglobal.set(\"l\",msg.payload.l)\nglobal.set(\"m\",msg.payload.m)\nglobal.set(\"n\",msg.payload.n)\nglobal.set(\"o\",msg.payload.o)\nglobal.set(\"p\",msg.payload.p)\nglobal.set(\"q\",msg.payload.q)\nglobal.set(\"r\",msg.payload.r)\nglobal.set(\"s\",msg.payload.s)\nglobal.set(\"t\",msg.payload.t)\n\n\n//following are required to receive a token\nvar apikey=\"fdQYOL7rQa9Lb_2ohzGk3JXqWa31P4WKr4p0IcQM2FVt\"\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"x":440,"y":60,"wires":[["5da3a5b7.682a3c"]]},{"id":"9f3d26e5.012e78","type":"debug","z":"e31b199.a199ee8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":140,"wires":[]},{"id":"26e28497.9fc0ac","type":"function","z":"e31b199.a199ee8","name":"getFrom Endpoint","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":340,"wires":[["9f3d26e5.012e78","c6ef180a.2f78a8"]]},{"id":"9fb7ef40.a77ec","type":"function","z":"e31b199.a199ee8","name":"sendTo Endpoint","func":"//get token and make headers\nvar token=msg.payload.access_token\nvar instance_id=\"486da02e-390e-47aa-a823-141d46082113\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\n//get variables that are set earlier\nvar a = global.get(\"a\")\nvar b = global.get(\"b\")\nvar c = global.get(\"c\")\nvar d = global.get(\"d\")\nvar e = global.get(\"e\")\nvar f = global.get(\"f\")\nvar g = global.get(\"g\")\nvar h = global.get(\"h\")\nvar i = global.get(\"i\")\nvar j = global.get(\"j\")\nvar k = global.get(\"k\")\nvar l = global.get(\"l\")\nvar m = global.get(\"m\")\nvar n = global.get(\"n\")\nvar o = global.get(\"o\")\nvar p = global.get(\"p\")\nvar q = global.get(\"q\")\nvar r = global.get(\"r\")\nvar s = global.get(\"s\")//0;\nvar t = global.get(\"t\")//1;\n\n//send the user values to service endpoint\nmsg.payload = \n{\"fields\":\n[ \"Adult Mortality\",\n    \"infant deaths\",\"Alcohol\", \"percentage expenditure\",\"Hepatitis B\",\n       \"Measles \",\" BMI\", \"under-five deaths \", \"Polio\",\"Total expenditure\",\n       \"Diphtheria \",\" HIV/AIDS\",\"GDP\",\"Population\",\" thinness  1-19 years\",\n       \" thinness 5-9 years\",\"Income composition of resources\",\"Schooling\",\n       \"Developed\", \"Developing\"],\n\"values\":[[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t]]}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":150,"y":280,"wires":[["98a3780a.fdb758","f2bcc50f.70ca88"]]},{"id":"5da3a5b7.682a3c","type":"http request","z":"e31b199.a199ee8","name":"","method":"POST","ret":"obj","paytoqs":true,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":150,"y":160,"wires":[["9fb7ef40.a77ec"]]},{"id":"c6ef180a.2f78a8","type":"ui_text","z":"e31b199.a199ee8","group":"da40dc3.6fdee2","order":1,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":760,"y":360,"wires":[]},{"id":"98a3780a.fdb758","type":"debug","z":"e31b199.a199ee8","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":470,"y":260,"wires":[]},{"id":"f2bcc50f.70ca88","type":"http request","z":"e31b199.a199ee8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/486da02e-390e-47aa-a823-141d46082113/deployments/a7339f8c-97c2-4db9-ba94-05fc46c5a263/online","tls":"","persist":false,"proxy":"","authType":"","x":150,"y":400,"wires":[["26e28497.9fc0ac","1976ef42.38acb1"]]},{"id":"1976ef42.38acb1","type":"debug","z":"e31b199.a199ee8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":420,"wires":[]},{"id":"da40dc3.6fdee2","type":"ui_group","z":"","name":"Machine Learning Model","tab":"5c4e8246.da5d3c","order":1,"disp":true,"width":"6","collapse":false},{"id":"5c4e8246.da5d3c","type":"ui_tab","z":"","name":"Home Page","icon":"dashboard","disabled":false,"hidden":false}]